& .topBar {
	position: relative;
	width: 100%;
	height: 100%;
	@include position(center, space-between);
	& .logo-container {
		font-size: 30px;
		font-weight: bold;
		cursor: pointer;
		& span {
			font-size: inherit;
			color: $secondary;
		}
	}
	& .navbar {
		@include sm {
			display: none;
		}
		& ul {
			display: flex;
			list-style: none;
			padding-left: 0;
			& li {
				position: relative;
				font-weight: bold;
				font-size: 18px;
				padding: 10px;
				margin: 0 10px;
				color: $text;
				cursor: pointer;
				&.active {
					color: $secondary;
				}
				@include md {
					margin: 0 5px;
					padding: 5px;
				}
				&.inactive::after {
					position: absolute;
					left: 0;
					bottom: -2px;
					content: '';
					width: 0;
					height: 2px;
					background-color: $secondary;
				}
				&.inactive:hover::after {
					width: 100%;
				}
			}
		}
	}

	& .menu-icon-contaner {
		display: none;
		cursor: pointer;
		@include sm {
			display: block;
		}
	}

	& .sm-nav {
		position: absolute;
		z-index: 1000;
		top: 100%;
		left: -2.5%;
		@include position(flex-start);
		width: 100vw;
		height: 90vh;
		background-color: #020710d0;
		
		& ul{
			min-width: 50%;
			height: auto;
			padding: 0;
			list-style-type: none;
			text-align: center;
			& li{
				margin: 40px 0;
				font-weight: bold;
				font-size: 18px;
				cursor: pointer;
				&.active{
					color: $secondary;
				}
			}
		}
	}
}
