@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: scale(0) translateY(100%);
  }
  100% {
    transform: scale(1) translateY(0%);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: scale(0) translateX(100%);
  }
  100% {
    transform: scale(1) translateX(0%);
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-100%);
  }
  100% {
    transform: scale(1) translateX(0%);
  }
}
@keyframes pop {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "josefin Sans", sans-serif;
  font-size: 15px;
  transition: 0.2s;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.Link {
  all: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  background-color: #bc3fea;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button.big {
  padding: 20px 35px;
}

button.small {
  padding: 10px 20px;
}

main.App {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  background-color: #020710;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
}
main.App .topBar-container {
  width: 85%;
  height: 10vh;
}
@media (max-width: 850px) {
  main.App .topBar-container {
    width: 95%;
  }
}
main.App .topBar-container .topBar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: no-wrap;
}
main.App .topBar-container .topBar .logo-container {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
main.App .topBar-container .topBar .logo-container span {
  font-size: inherit;
  color: #bc3fea;
}
@media (max-width: 700px) {
  main.App .topBar-container .topBar .navbar {
    display: none;
  }
}
main.App .topBar-container .topBar .navbar ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
main.App .topBar-container .topBar .navbar ul li {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin: 0 10px;
  color: #738296;
  cursor: pointer;
}
main.App .topBar-container .topBar .navbar ul li.active {
  color: #bc3fea;
}
@media (max-width: 850px) {
  main.App .topBar-container .topBar .navbar ul li {
    margin: 0 5px;
    padding: 5px;
  }
}
main.App .topBar-container .topBar .navbar ul li.inactive::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  width: 0;
  height: 2px;
  background-color: #bc3fea;
}
main.App .topBar-container .topBar .navbar ul li.inactive:hover::after {
  width: 100%;
}
main.App .topBar-container .topBar .menu-icon-contaner {
  display: none;
  cursor: pointer;
}
@media (max-width: 700px) {
  main.App .topBar-container .topBar .menu-icon-contaner {
    display: block;
  }
}
main.App .topBar-container .topBar .sm-nav {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: -2.5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 100vw;
  height: 90vh;
  background-color: rgba(2, 7, 16, 0.8156862745);
}
main.App .topBar-container .topBar .sm-nav ul {
  min-width: 50%;
  height: auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
main.App .topBar-container .topBar .sm-nav ul li {
  margin: 40px 0;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
main.App .topBar-container .topBar .sm-nav ul li.active {
  color: #bc3fea;
}
main.App .home {
  width: 85%;
}
@media (max-width: 850px) {
  main.App .home {
    width: 95%;
  }
}
main.App .home .hero {
  width: 100%;
  height: 90vh;
  display: flex;
  border-bottom: 1px solid #738296;
}
@media (max-width: 700px) {
  main.App .home .hero {
    height: auto;
    flex-direction: column;
    padding-bottom: 10px;
  }
}
main.App .home .hero .hero-left {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  animation: fadeLeft forwards 1s;
}
@media (max-width: 700px) {
  main.App .home .hero .hero-left {
    width: 100%;
    margin: 20px 0;
  }
}
main.App .home .hero .hero-left .hero-left-main {
  min-height: 50%;
  height: auto;
  width: 100%;
}
main.App .home .hero .hero-left .hero-left-main > * {
  margin: 10px;
}
main.App .home .hero .hero-left .hero-left-main h1 {
  font-size: 60px;
}
@media (max-width: 850px) {
  main.App .home .hero .hero-left .hero-left-main h1 {
    font-size: 50px;
  }
}
main.App .home .hero .hero-left .hero-left-main h2 {
  font-size: 40px;
}
@media (max-width: 850px) {
  main.App .home .hero .hero-left .hero-left-main h2 {
    font-size: 30px;
  }
}
main.App .home .hero .hero-left .hero-left-main p {
  color: #738296;
}
main.App .home .hero .hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  animation: fadeRight forwards 1s;
}
@media (max-width: 700px) {
  main.App .home .hero .hero-right {
    width: 100%;
    margin: 20px 0;
  }
}
main.App .home .hero .hero-right .hero-right-main {
  height: 80%;
  width: 100%;
  background-image: url("./images/globe2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main.App .home .hero .hero-right .hero-right-main img {
  width: 100%;
  height: 100%;
}
main.App .home .services {
  width: 100%;
  height: auto;
  margin: 50px 0;
}
main.App .home .services .services-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  text-align: center;
}
main.App .home .services .services-head h1 {
  font-size: 30px;
  margin-bottom: 0px;
}
main.App .home .services .services-head p {
  color: #738296;
  line-height: 20px;
  font-size: 18px;
}
main.App .home .services .services-list-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
main.App .home .services .services-list-container .singleServiceCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: no-wrap;
  text-align: center;
  width: calc((100% - 20px) / 3);
  height: auto;
  border: 1px solid #738296;
  border-radius: 10px;
  padding: 20px 10px;
}
@media (max-width: 700px) {
  main.App .home .services .services-list-container .singleServiceCard {
    width: 100%;
  }
}
main.App .home .services .services-list-container .singleServiceCard h3 {
  font-size: 30px;
}
main.App .home .services .services-list-container .singleServiceCard p {
  font-size: 17px;
  color: #738296;
  margin-bottom: 50px;
}
main.App .wallets {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: no-wrap;
}
@media (max-width: 700px) {
  main.App .wallets {
    width: 95%;
  }
}
main.App .wallets .wallets-top {
  margin: 30px 0;
  text-align: center;
}
main.App .wallets .wallets-top h1 {
  font-size: 35px;
  color: #738296;
  margin-bottom: 30px;
}
main.App .wallets .wallets-top p {
  color: #2e3a4b;
}
main.App .wallets .wallets-list-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
@media (max-width: 850px) {
  main.App .wallets .wallets-list-container {
    width: 100%;
  }
}
@media (max-width: 700px) {
  main.App .wallets .wallets-list-container {
    gap: 10%;
  }
}
main.App .wallets .wallets-list-container .single-wallet {
  width: 22%;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: no-wrap;
}
@media (max-width: 700px) {
  main.App .wallets .wallets-list-container .single-wallet {
    width: 45%;
  }
}
main.App .wallets .wallets-list-container .single-wallet img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}
main.App .wallets .wallets-list-container .single-wallet p {
  font-weight: bold;
  color: #3b99fc;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
}
main.App .wallets .wallets-list-container .single-wallet p:hover {
  color: #176ac4;
}
main.App .wallets .wallets-down {
  margin: 100px 0 50px 0;
  text-align: center;
  font-weight: bold;
}
main.App .wallets .wallets-down p {
  color: #738296;
}
main.App .wallets .wallets-down p span {
  color: #3b99fc;
  cursor: pointer;
}
main.App .wallets .wallets-down p span:hover {
  color: #176ac4;
}
main.App .footer {
  width: 85%;
  color: #738296;
  text-align: center;
  padding: 20px 0;
}

.container {
  transform: scale(0);
  animation: pop 0.5s forwards;
  width: 30vw;
  height: 50vh;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.container.connect {
  height: 85vh;
}
.container.connect .modal-top {
  height: 10vh;
  border-bottom: 1px solid #738296;
}
.container.connect .tabs {
  width: 80%;
  display: flex;
}
.container.connect .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin: 30px 0;
  flex: 1;
  border-radius: 20px;
  color: black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.container.connect .tabs .tab:hover {
  background-color: lightgray;
}
.container.connect .tabs .tab.active {
  background-color: #5878bc;
  font-weight: bold;
  color: white;
}
.container.connect .tab-body {
  margin: 30px;
  width: 80%;
}
.container.connect .tab-body .singleTab-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: no-wrap;
}
.container.connect .tab-body .singleTab-body textarea, .container.connect .tab-body .singleTab-body input {
  resize: vertical;
  color: black;
  border-radius: 5px;
  height: 15vh;
  width: 100%;
  border: 1px solid grey;
  padding: 5px;
}
.container.connect .tab-body .singleTab-body textarea:focus, .container.connect .tab-body .singleTab-body input:focus {
  outline: none;
}
.container.connect .tab-body .singleTab-body input {
  width: 80%;
  height: 40px;
  margin: 20px 0;
}
.container.connect .tab-body .singleTab-body p.tab-info {
  font-weight: bold;
  font-size: 14px;
  color: #5878bc;
}
.container.connect .tab-body .singleTab-body .submit-container img {
  width: 100px;
}
.container.connect .tab-body .singleTab-body .submit-container button.submit-btn {
  background-color: #2a498d;
  padding: 10px 50px;
  border-radius: 5px;
  margin: 20px 0;
}
@media (max-width: 850px) {
  .container {
    width: 70vw;
    height: 40vh;
  }
}
@media (max-width: 700px) {
  .container {
    width: 95vw;
    height: 50vh;
  }
}
.container .modal-top {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.container .modal-top h2 {
  font-size: 20px;
  color: black;
}
.container .modal-top .closeIcon {
  fill: black;
  font-size: 40px;
  cursor: pointer;
}
.container .modal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: no-wrap;
  width: 100%;
}
.container .modal-body .load-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  position: relative;
  width: 70%;
  height: 50px;
  border: 1px solid red;
  border-radius: 5px;
}
.container .modal-body .load-container img {
  width: auto;
  height: 100%;
}
.container .modal-body .load-container span {
  color: red;
  font-weight: bold;
}
.container .modal-body .load-container .manual-btn {
  position: absolute;
  top: 70%;
  background-color: #353866;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.container .modal-body .load-container .manual-btn:hover {
  background-color: #3b99fc;
}
.container .modal-body .modal-body-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  width: 90%;
  padding: 10px;
  border: 1px solid #738296;
  margin-top: 100px;
}
.container .modal-body .modal-body-info h3 {
  color: black;
  margin: 5px 0;
}
.container .modal-body .modal-body-info p {
  margin: 5px 0;
  color: #738296;
}/*# sourceMappingURL=App.css.map */